# Lists and Loops

## Monday

In [1]:
# declaring a list of numbers
nums = [5, 10, 15.2, 20]
print(nums)

[5, 10, 15.2, 20]

In [2]:
# accessing elements within a list
print( nums[1] ) # will output the value at index 1 = 10
num = nums[2] # saves index value 2 into num
print(num) # prints value assigned to num

10
15.2

In [3]:
# declaring a list of mixed data types
num = 4.3
data = [num, "word", True] # the power of data collection
print(data)

[4.3, 'word', True]

In [4]:
# understanding lists within lists
data = [5, "book", [ 34, "hello" ], True] # lists can hold any type
print(data)
print( data[2] )

[5, 'book', [34, 'hello'], True]
[34, 'hello']

In [5]:
# using double bracket notation to access lists within lists
print( data[2][0] ) # will output 34
inner_list = data[2] # inner list will equal [34, 'hello']
print( inner_list[1] ) # will output 'hello'

34
hello

In [6]:
# changing values in a list through index
data = [5, 10, 15, 20]
print(data)
data[0] = 100 # change the value at index 0 - (5 to 100)
print(data)

[5, 10, 15, 20]
[100, 10, 15, 20]

In [7]:
# understanding how lists are stored
a = [5, 10]
b = a
print( "a: {}\t b: {}".format(a, b) )
print( "Location a[0]: {}\t Location b[0]: {}".format( id(a[0]), id(b[0]) ) )
a[0] = 20 # re-declaring the value of a[0] also changes b[0]
print( "a: {}\t b: {}".format(a, b) )

a: [5, 10]	 b: [5, 10]
Location a[0]: 3181858417072	 Location b[0]: 3181858417072
a: [20, 10]	 b: [20, 10]

In [8]:
# using [:] to copy a list
data = [5, 10, 15, 20]
data_copy = data[ : ] # a single colon copies the list
data[0] = 50
print( "data: {}\t data_copy: {}".format(data, data_copy) )

data: [50, 10, 15, 20]	 data_copy: [5, 10, 15, 20]

MONDAY EXERCISES

1. Sports: Define a list of strings, where each string is a sport. Then output each
sport with the following line “I like to play {}”…

In [10]:
list = ["basketball", "swimming", "soccer"]

print("I like to play {}".format(list[0].title()))

I like to play Basketball

2. First Character: For the following list, print out each item’s first letter. (output
should be ‘J’, ‘A’, ‘S’, ‘K’)

In [14]:
names = ["John","Abraham", "Sam", "Kelly"]

for n in names:
    j =  n[0].title()
    print("'{}'".format(j), end = ' ') # I searched in stackoverflow this "end code" to print it in row not the default column print

'J' 'A' 'S' 'K'

## Tuesday: For Loops

In [15]:
# writing your first for loop using range
for num in range(5):
    print( "Value: {}".format(num) )

Value: 0
Value: 1
Value: 2
Value: 3
Value: 4

In [17]:
# providing the start, stop, and step for the range function
for num in range(2, 10, 2):
    print( "Value: {}".format(num) ) # will print all evens between 2 and 10

Value: 2
Value: 4
Value: 6
Value: 8

In [18]:
# printing all characters in a name using the 'in' keyword
name = "John Smith"
for letter in name:
    print( "Value: {}".format(letter) )

Value: J
Value: o
Value: h
Value: n
Value:
Value: S
Value: m
Value: i
Value: t
Value: h

#### Contines, Break and Pass

In [19]:
# using the continue statement within a foor loop
for num in range(5):
    if num == 3:
        continue
    print(num)

0
1
2
4

In [20]:
# breaking out of a loop using the 'break' keyword
for num in range(5):
    if num == 3:
        break
    print(num)

0
1
2

In [21]:
# setting a placeholder using the 'pass' keyword
for i in range(5):
    # TODO: add code to print number
    pass

TUESDAY EXERCISES

1. Divisible by Three: Write a for loop that prints out all numbers from 1 to 100
that are divisible by three.

In [23]:
for i in range(0, 100, 3):
    print("{} ".format(i), end = '')

0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

2. Only Vowels: Ask for user input, and write a for loop that will output all the
vowels within it. For example:

"Hello" ➔ "eo"

In [25]:
u = str(input('Enter word: ')).lower()
vowel = ["a", "e", "i", "o", "u"]
for j in u:
    if j in vowel:
        print("'{}'".format(j), end=' ')

Enter word: Hello
'e' 'o'

### Wednesday: While Loops

In [27]:
# writing your first while loop
health = 10
while health > 0:
    print(f"{health} ", end = '') #I used f format to add space in result
    health -= 1 # forgetting this line will result in infinite loop

10 9 8 7 6 5 4 3 2 1

In [28]:
# using two or more loops together is called a nested loop
for i in range(2): # outside loop
    for j in range(3): # inside loop
        print( i, j )

0 0
0 1
0 2
1 0
1 1
1 2

WEDNESDAY EXERCISES

1. User Input: Write a while loop that continues to ask for user input and runs
until they type “quit”.

In [31]:
status = True
while status:
    w = str(input("type 'quit' if you want to quit: ")).lower()
    if w == 'quit':
        status = False

type 'quit' if you want to quit: nope
type 'quit' if you want to quit: no
type 'quit' if you want to quit: hmnn
type 'quit' if you want to quit: yes
type 'quit' if you want to quit: quit

2. Double Loop: Write a for loop within a while loop that will count from 0 to 5,
but when it reaches 3, it sets a game_over variable to True and breaks out of
the loop. The while loop should continue to loop until game_over is True. The
output should only be 0, 1, 2.

In [33]:
game_over = False
while game_over != True: # i am confuse in this area but looking at stackoverflow I know this is where I made a mistake
    for x in range(5):
        if (x == 3):
            game_over = True
            break
        print(x, end=' ')

0 1 2

## Thursday: Working with Lists

In [34]:
# checking the number of items within a list
nums = [5, 10, 15]
length = len(nums) # len() returns an integer
print(length)

3

In [35]:
# accessing specific items of a list with slices
print( nums[ 1 : 3 ] ) # will output items in index 1 and 2
print( nums[ : 2 ] ) # will output items in index 0 and 1
print( nums[ : : 2 ] ) # will print every other index - 0, 2, 4, etc.
print( nums[ -2 : ] ) # will output the last two items in list

[10, 15]
[5, 10]
[5, 15]
[10, 15]

In [36]:
# adding an item to the back of a list using append
nums = [10, 20]
nums.append(5)
print(nums) # outputs [10, 20, 5]

[10, 20, 5]

In [42]:
# adding a value to the beginning of the list
words = [ "ball", "base" ]
words.insert(0, "glove") # first number is the index, second is the value #wrong in the book
print(words)

['glove', 'ball', 'base']

In [43]:
# using pop to remove items and saving to a variable to use later
items = [5, "ball", True]
items.pop( ) # by default removes the last item
removed_item = items.pop(0) # removes 5 and saves it into the variable
print(removed_item, "\n", items)

5
 ['ball']

In [44]:
# using the remove method with a try and except
sports = [ "baseball", "soccer", "football", "hockey" ]
try:
    sports.remove("soccer")
except:
    print("That item does not exist in the list")
print(sports)

['baseball', 'football', 'hockey']

In [45]:
# using min, max, and sum
nums = [5, 3, 9]
print( min(nums) ) # will find the lowest number in the list
print( max(nums) ) # will find the highest number in the list
print( sum(nums) ) # will add all numbers in the list and return the sum

3
9
17

In [48]:
# using sorted on lists for numerical and alphabetical data
nums = [5, 8, 0, 2]
sorted_nums = sorted(nums) # save to a new variable to use later
print(nums, sorted_nums) # the original list is in tact

[5, 8, 0, 2] [0, 2, 5, 8]

In [49]:
# sorting a list with .sort() in-place
nums = [5, 0, 8, 3]
nums.sort( ) # alters the original variable directly
print(nums)

[0, 3, 5, 8]

In [50]:
# using conditional statements on a list
names = [ "Jack", "Robert", "Mary" ]
if "Mary" in names:
    print("found") # will run since Mary is in the list
if "Jimmy" not in names:
    print("not found") # will run since Jimmy is not in the list

found
not found

In [55]:
# using conditionals to see if a list is empty
nums = [ ]
if not nums: # could also say 'if nums == []'
    print("empty")

empty

In [56]:
# using the while loop to remove a certain value
names = [ "Bob", "Jack", "Rob", "Bob", "Robert" ]
while "Bob" in names:
    names.remove("Bob") # removes all instances of 'Bob'
print(names)

['Jack', 'Rob', 'Robert']

THURSDAY EXERCISES

1. Remove Duplicates: Remove all duplicates from the list below. Hint: Use the
.count( ) method. The output should be [‘Bob’, ‘Kenny’, ‘Amanda’]

names = ['Bob', 'Kenny', 'Amanda', 'Bob', 'Kenny']

In [57]:
names = ['Bob', 'Kenny', 'Amanda', 'Bob', 'Kenny']

for name in names:
    while names.count(name) > 1:
        names.remove(name)
    
print(names)

['Amanda', 'Bob', 'Kenny']

2. User Input: Use a while loop to continually ask the user to input a word, until
they type “quit ”. Once they type a word in, add it to a list. Once they quit the
loop, use a for loop to output all items within the list.

In [59]:
status = False
l = []
while status != True:
    r = str(input("Type 'quit. If not, we will list what you type: ").lower())
    if r != "quit":
        l.append(r)
    elif r == "quit":
        break
for x in l:
    print(x, end = ' ')

Type 'quit. If not, we will list what you type: yes
Type 'quit. If not, we will list what you type: oko
Type 'quit. If not, we will list what you type: ok
Type 'quit. If not, we will list what you type: fine
Type 'quit. If not, we will list what you type: what
Type 'quit. If not, we will list what you type: why
Type 'quit. If not, we will list what you type: yess
Type 'quit. If not, we will list what you type: quiitt
Type 'quit. If not, we will list what you type: quit
yes oko ok fine what why yess quiitt