# Python Basics

### Monday

In [1]:
# Comments & Basic Data Types

In [3]:
# this is a comment

In [4]:
print("Hello") # this is also a comment

Hello

In [6]:
" " "This is a multi-Line comment" " "
print("Hello") # this is also a comment

Hello

In [7]:
# the following are all integers
print(2)
print(10)

2
10

In [8]:
# the following are all floats
print(10.953)
print(8.0) # even this number is a float

10.953
8.0

In [9]:
# the following are booleans
print(True)
print(False)

True
False

In [10]:
# the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

### Tuesday

In [11]:
num1 = 5 # storing an integer into a variable
num2 = 8.4 # storing a float into a variable
print(num1, num2) # you can print multiple items using commas

5 8.4

In [12]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [13]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number) # will print 9 next to the name

John Smith 9

In [14]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [15]:
# adding, deleting, multiplying, dividing from a variable
result += 1 # same as saying result = result + 1
print(result)
result *= num1 # same as saying result = result * num1
print(result)

14.4
72.0

In [16]:
# defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

#### Tuesday Exercise

1. Variable Output: Store the value 3 in a variable called “x” and the value 10 in
a variable called “y”. Save the result of x * y into a separate variable called
“result”. Finally, output the information so it shows like the following:

In [17]:
x = 3
y = 10
result = x * y
print(result)

30

2. Area Calculation: Calculate the area of a 245.54” x 13.66” rectangle. Print out
the result. HINT: Area is width multiplied by height.

In [19]:
l = 245.54
w = 13.66
a = l * w
print("The Area of the rectangle is {}".format(float(a)))

The Area of the rectangle is 3354.0764

### Wednesday

Working with Strings

In [20]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [21]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [22]:
# injecting variables using the format method
name = "John"
print( "Hello {}".format(name) )
print( "Hello {}, you are {} years old!".format(name, 28) )

Hello John
Hello John, you are 28 years old!

In [23]:
# using the new f strings
name = "John"
print( f"Hello {name}" )

Hello John

In [24]:
# using indexes to print each element
word = "Hello"
print( word[ 0 ] ) # will output 'H'
print( word[ 1 ] ) # will output 'e'
print( word[ -1 ] ) # will output 'o'

H
e
o

In [25]:
print( word[ 0 : 2 ] ) # will output 'He'

He

WEDNESDAY EXERCISES

1. Variable Injection: Create a print statement that injects an integer,
float, boolean, and string all into one line. The output should look like
“23 4.5 False John”.

In [27]:
a = int(23)
b = float(4.5)
c = bool(False)
d = str("John")

print("{} {} {} {}".format(a,b,c,d))

23 4.5 False John

2. Fill in the Blanks: Using the format method, fill in the following
blanks by assigning your name and favorite activities into variables:
"{ }'s favorite sports is { }."
"{ } is working on { } programming!"

In [30]:
name = "Donard"
sports = "Basketball"
prog = "Python"

print("{}'s favorite sports is {}." "{} is working on {} programming!".format(name, sports, name, prog))

Donard's favorite sports is Basketball.Donard is working on Python programming!

### Thursday

String Manipulation

In [31]:
# using the title method to capitalize a string
name = "john smith"
print( name.title( ) )

John Smith

In [32]:
# replacing an exclamation point with a period
words = "Hello there!"
print( words.replace( "!", "." ) )

Hello there.

In [33]:
# finding the starting index of our searched term
s = "Look over that way"
print( s.find("over") )

5

In [34]:
# removing white space with strip
name = " john "
print( name.strip( ) )

john

In [35]:
# converting a string into a list of words
s = "These words are separated by spaces"
print( s.split(" ") )

['These', 'words', 'are', 'separated', 'by', 'spaces']

THURSDAY EXERCISES

1. Uppercasing: Try manipulating the string “uppercase” so it prints out as all
uppercase letters. You’ll need to look up a new method.

In [38]:
# converting a string into a list of words
s = "uppercase"
print( s.upper())

UPPERCASE

2. Strip Symbols: Strip all the dollar signs from the left side of this string “$$John
Smith”. Try it with .lstrip( ) and .strip( ). To see a description on how to use
the strip method further, try using the help function in Python by typing the
following: help(" ".strip)

In [39]:
n = "$$John Smith"
print(n.strip("$$"))

John Smith